.list_vw{
    background-color: #F7F7F7;
    border-radius: 10px;
    margin-left: 2vw;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}